</br>
</br>
</br>
</br>
</br>
<div><h1>Walktopus </h1></div>

<div id="walk_form">
  <h3>See A Slideshow of Your Walking Route</h3>
  <%= form_for @walk do  |f|  %>
    <div class='row'>
    <%=f.label :start, "Starting from where?" %> <br>
    <%= f.text_field :start, :placeholder =>"Enter origin address or landmark, e.g.414 Brannan St., SF; or Louvre" %>
    <br>
    <%= f.label :end, "Ending where?" %> <br>
    <%=f.text_field :end, :placeholder => "Enter destination address or landmark, e.g. 1 Post Street, SF; or Arc de Triomphe" %>
      <br>
    <%= f.submit "Show Me My Walk", :class =>'large button' %>
  <% end %>
</div>
